{% extends 'base.html.twig' %}

{% block content %}
    <ul>
        {% for task in tasks %}
        <li>
            {% if task.done %}
                DONE -
            {% endif %}

            <a href="./todo/{{ task.id }}">
                {{ task.title }}
            </a>
        </li>
        {% else %}
            <li>
                NO TODO
            </li>
        {% endfor %}
    </ul>
{% endblock %}
