{% extends 'base.html.twig' %}

{% block content %}
    {% if task.done %}
        <div>DONE</div>
    {% endif %}

    {% if task.description %}
        <div>
            {{ task.description }}
        </div>
    {% endif %}
{% endblock %}
